*{
 /*   font-family: Fjalla One, serif;*/
    color: #990033;

}

html{
    /*background-color: #000000;*/
}
.league-table table{
    margin: 20px auto;
    border-collapse: collapse;
}
.league-table{
    margin: 0px 0% 30px 0%;
}
th, td {
    padding: 15px;
}
th{
    background-color: rgba(154, 152, 101, 0.25);
/*    color: #500000;*/

    color: #CC9933;
}
.heading{
    text-align: center;
    text-decoration: none;
    color: #500000;
    margin-top: 1px;
    display: block;

}
.wpos{
    text-align: center;
}
.wpos td{
    color:#006600
}
table .col{
    border-bottom: 7px solid black;
}
.wpos:hover{
    background-color: #A9A9A9;
}
.wpos:hover.td{
    color: #000000;
}
.left {
    padding-right: 250px;
}